clearfix {
	zoom: 1;
}
body, div, h1, h2, h3, h4, h5, h6, p, span {
	margin: 0;
	padding: 0;
}
clear {
	cleear: both
}
body {
	font-family: Consolas, sans-serif;
	font-size: 1.1em;
	color: #ddd;
	line-height: 1.3em;
	padding: 7px;
	margin: 7px;
}